* {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
 
}

body {
  font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
  text-decoration: none
}

ul,
li {
  list-style: none;
}

.container {
  padding: 30px;
  background: #fff;
  border: 1px sold #ddd;
  border-radius: 5px;
}

#preloader {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 200px auto;
}

.m20 {
  margin-top: 20px;
}

.m10 {
  margin-top: 10px;
}

.l20 {
  margin-left: 10px;
}

.width {
  width: 1200px;
  margin: 0 auto;
}

.col-flex {
  display: flex;
  justify-content: flex-start;
}

.col-flex-end {
  display: flex;
  justify-content: flex-end;
}

.text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: space-between;
}

#text .cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

